/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  background: black !important;
  color: white;
  font-family: 'Happy Monkey', cursive; /* alternative is to use Comic Sans */
}

h3 {
  margin-top: 20px;
}

.genre-checkbox {
  margin-right: 15px;
}

movie {
  margin-bottom: 20px;
}

movie h4 {
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

movie .image-wrapper { /* this is to ensure contant height */
  height: 300px;
}

